* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  background-color: rgb(239, 234, 227);
}

.block-form {
  height: 80px;
  background-color: rgb(28, 28, 160);
  display: flex;
  align-items: center;
  border: inherit;
  justify-content: center;
}

.load-more.hidden {
  display: none;
}

.search-form {
  height: 50px;
  display: flex;
}

input {
  width: 700px;
  border-radius: 5px 0 0 5px;
  padding-left: 15px;
}

.btn-input {
  width: 100px;
  border-radius: 0 5px 5px 0;
}

.load-more {
  display: block;
  margin: auto;
  width: 250px;
  height: 50px;
  font-size: 25px;
  background-color: aqua;
}

.container {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.container-inner {
  background-color: white;
}

img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info {
  padding: 15px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 12px 19px -3px rgba(0,0,0,0.76);
  -webkit-box-shadow: 0px 12px 19px -3px rgba(0,0,0,0.76);
  -moz-box-shadow: 0px 12px 19px -3px rgba(0,0,0,0.76);
  border-radius: 0 0 5px 5px;
}

.info-item {
  text-align: center;
  line-height: 2;
  color: black;
}
